<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron ifMobile1" style="background-attachment: fixed;">
      <div class="container  bgimg" style="font-family: 'Gloria Hallelujah', cursive;">
        <h1 class="display-5 text-primary"> 
          COCHIN1.COM</h1>
        <p class="text-primary">Know your Cochi.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="card-deck" >
    <div class="card text-left shadowCard" style="width: 20rem;">
      <img class="card-img-top" src="assets/img/Rainbow-Bridge-Kochi1.jpg" alt="Card image cap">
      <div class="card-img-overlay">
        <h4 class="card-title">Cochin Marine Drive</h4>
        <p class="card-text">.</p>        
      </div>
      <h3 class="card-title">Cochin Marine Drive</h3>
        <p class="card-text">Marine Drive is a picturesque promenade in Kochi, Kerala, India.[1]It is built facing the backwaters, and is a popular hangout for the local populace. Ironic to its name, no vehicles are allowed on the walkway. Marine Drive is also an...</p>
        <p><a class="btn btn-secondary" target="_blank" href="https://en.wikipedia.org/wiki/Marine_Drive,_Kochi" role="button">View details &raquo;</a></p>
    </div>

    <div class="card text-left shadowCard" style="width: 20rem;">
      <img class="card-img-top" src="assets/img/Goshree_bridge_kochi.jpg" alt="Card image cap">
      <h3 class="card-title">Vypeen Island Zone</h3>
        <p class="card-text">Vypin or Vypeen (Malayalam: വൈപ്പിന്‍) is one of a group of islands that form part of the city of Kochi, in the southwestern Indian state of Kerala. Vypin is one of the densely populated islands in asia.The island is about 27 kilometres (17 mi)...</p>
        <p><a class="btn btn-secondary" target="_blank" href="https://en.wikipedia.org/wiki/Vypin" role="button">View details &raquo;</a></p>
    </div>

    <div class="card text-left shadowCard" style="width: 20rem;">
      <img class="card-img-top" src="assets/img/Cherai.jpg" alt="Card image cap">
      <h3 class="card-title">Cherai Beach</h3>
        <p class="card-text">Cherai Beach is located in Kochi Taluk, Kerala, India. Cherai Beach is just 25 km from Kochi, and 30 km from Cochin International Airport. The nearest towns are North Paravur (6 km) and Kodungallur (10 km) and the nearest...</p>
        <p><a class="btn btn-secondary" target="_blank" href="https://en.wikipedia.org/wiki/Cherai_Beach" role="button">View details &raquo;</a></p>
    </div>
  </div>
  <div class="card-deck">
    <div class="card text-left shadowCard" style="width: 20rem;">
      <img class="card-img-top" src="assets/img/Cheraman_Juma_Masjid.jpg" alt="Card image cap">
      <h3 class="card-title">Cheraman Juma Mosque</h3>
        <p class="card-text">The Cheraman Juma Mosque is a mosque in Methala, Kodungallur Taluk, Thrissur District in the Indian state of Kerala.[1][2][3] Built in 629 AD, it is the first mosque in India.[4][5][6] It was built by Malik Deenar, an Arab propagator...</p>
        <p><a class="btn btn-secondary" target="_blank" href="https://en.wikipedia.org/wiki/Cheraman_Juma_Mosque" role="button">View details &raquo;</a></p>
    </div>

    <div class="card text-left shadowCard" style="width: 20rem;">
      <img class="card-img-top" src="assets/img/Rainbow-Bridge-Kochi1.jpg" alt="Card image cap">
      <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>

    <div class="card text-left shadowCard" style="width: 20rem;">
      <img class="card-img-top" src="assets/img/Rainbow-Bridge-Kochi1.jpg" alt="Card image cap">
      <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>
</div>
<!-- /container -->
<br>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron ifMobile2" style="background-attachment: fixed;">
      <div class="container  bgimg col-md-4 ifMobile22" style="float: left;font-family: 'Gloria Hallelujah', cursive;background-color: rgba(100, 100, 900, 0.4); ">
        <h1 class="display-5 text-danger"> 
          PHONES</h1>
        <p class="text-danger">Know new Phones..</p>
        <p><a class="btn btn-danger btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-deck" >
    <div class="card text-left shadowCard" style="width: 20rem;">
      <img class="card-img-top" src="assets/img/Rainbow-Bridge-Kochi1.jpg" alt="Card image cap">
      <div class="card-img-overlay">
        <h4 class="card-title">Cochin Marine Drive</h4>
        <p class="card-text">.</p>        
      </div>
      <h3 class="card-title">Cochin Marine Drive</h3>
        <p class="card-text">Marine Drive is a picturesque promenade in Kochi, Kerala, India.[1]It is built facing the backwaters, and is a popular hangout for the local populace. Ironic to its name, no vehicles are allowed on the walkway. Marine Drive is also an...</p>
        <p><a class="btn btn-secondary" target="_blank" href="https://en.wikipedia.org/wiki/Marine_Drive,_Kochi" role="button">View details &raquo;</a></p>
    </div>

    <div class="card text-left shadowCard" style="width: 20rem;">
      <img class="card-img-top" src="assets/img/Goshree_bridge_kochi.jpg" alt="Card image cap">
      <h3 class="card-title">Vypeen Island Zone</h3>
        <p class="card-text">Vypin or Vypeen (Malayalam: വൈപ്പിന്‍) is one of a group of islands that form part of the city of Kochi, in the southwestern Indian state of Kerala. Vypin is one of the densely populated islands in asia.The island is about 27 kilometres (17 mi)...</p>
        <p><a class="btn btn-secondary" target="_blank" href="https://en.wikipedia.org/wiki/Vypin" role="button">View details &raquo;</a></p>
    </div>

    <div class="card text-left shadowCard" style="width: 20rem;">
      <img class="card-img-top" src="assets/img/Cherai.jpg" alt="Card image cap">
      <h3 class="card-title">Cherai Beach</h3>
        <p class="card-text">Cherai Beach is located in Kochi Taluk, Kerala, India. Cherai Beach is just 25 km from Kochi, and 30 km from Cochin International Airport. The nearest towns are North Paravur (6 km) and Kodungallur (10 km) and the nearest...</p>
        <p><a class="btn btn-secondary" target="_blank" href="https://en.wikipedia.org/wiki/Cherai_Beach" role="button">View details &raquo;</a></p>
    </div>
  </div>
  <div class="card-deck mt-4">
    <div class="card text-left shadowCard" style="width: 20rem;">
      <img class="card-img-top" src="assets/img/Cheraman_Juma_Masjid.jpg" alt="Card image cap">
      <h3 class="card-title">Cheraman Juma Mosque</h3>
        <p class="card-text">The Cheraman Juma Mosque is a mosque in Methala, Kodungallur Taluk, Thrissur District in the Indian state of Kerala.[1][2][3] Built in 629 AD, it is the first mosque in India.[4][5][6] It was built by Malik Deenar, an Arab propagator...</p>
        <p><a class="btn btn-secondary" target="_blank" href="https://en.wikipedia.org/wiki/Cheraman_Juma_Mosque" role="button">View details &raquo;</a></p>
    </div>

    <div class="card text-left shadowCard" style="width: 20rem;">
      <img class="card-img-top" src="assets/img/Rainbow-Bridge-Kochi1.jpg" alt="Card image cap">
      <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>

    <div class="card text-left shadowCard" style="width: 20rem;">
      <img class="card-img-top" src="assets/img/Rainbow-Bridge-Kochi1.jpg" alt="Card image cap">
      <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>
<!-- /container -->