kbd { 
    border: 1px solid #060506; 
    border-radius: 4px; 
    padding: 3px 5px; 
    margin: 2px; 
    color: #FC006C; 
    text-decoration: #F00606; 
} 

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_container {
    padding: 2px 16px;
}

.ifMobile1 {
	background-image: url('http://angulartest-angulartest2.1d35.starter-us-east-1.openshiftapps.com/assets/img/kochi_large.jpg');
	height: 300px;
}
.ifMobile2 {	
	background-image: url(https://images.techhive.com/images/article/2016/09/gb-android-phone-hub-1200x675-100682238-orig.jpg);
	height: 300px;
}
.ifMobile22 {
	padding-top: 30px;
	padding-bottom: 30px;
}

@media all and (max-width: 499px) {    
    .ifMobile1 {
		background-image: url('http://www.hotelscochin.com/images/cochin_banner.jpg');
		height: 180px;
	}
	.ifMobile2 {
        background-image: url(https://img.bbystatic.com/BestBuy_US/store/ee/2016/mob/pr/153711_virgin/virgin_phone.jpg);
        height: 180px;        
    }
    .ifMobile22 {
		padding-top: 4px;padding-bottom: 4px;
	}
}
h3{
    padding: 2px;
    margin: 2px;
}
.card-text{
    padding: 5px;
    margin: 2px;
}
.card a{
    padding: 5px;
    margin: 5px;
}